{% extends 'core/base.html' %}

{% block title %}Artists{% endblock %}

{% block body %}
<header id='main-header'>
  <h2>Artists</h2>

  <nav>
    <span><a href="{% url 'tabs:artist_create' %}">Create an artist</a></span>
  </nav>
</header>

<table>
  <tbody>
  {% for artist in artists %}
    <tr>
      <td><a href="{% url 'tabs:artist_detail' artist_id=artist.id %}">{{ artist.name }}</a></td>
      <td>({{ artist.tabs.count }} tabs)</td>
    </tr>
  {% endfor %}
  </tbody>
</table>
{% endblock %}
