{% extends 'core/base.html' %}

{% block title %}{{ artist.name }}{% endblock %}

{% block body %}
  <header id='main-header'>
    <h2>{{ artist.name }}</h2>
  </header>

  <section class='mapping'>
    <label for='website-link'>Website:</label>
    {% if artist.website %}
    <a id='website-link' href='{{ artist.website }}'>Link</a>
    {% else %}
    <span id='artist-link'>(none)</span>
    {% endif %}

    <label for='wikipedia-link'>Wikipedia:</label>
    {% if artist.wikipedia %}
    <a id='wikipedia-link' href='{{ artist.wikipedia }}'>Link</a>
    {% else %}
    <span id='artist-link'>(none)</span>
    {% endif %}

    <label for='user-link'>Added by:</label>
    <a id='user-link' href="{% url 'users:profile' user_id=artist.user.pk %}">
      {{ tab.user.username }}
    </a>
  </section>

  <h3>Tabs</h3>
  {% include "tabs/tab_list.html" with tabs=artist.tabs %}
{% endblock %}
