{% extends 'core/base.html' %}

{% block title %}{{ tab.name }}{% endblock %}

{% block body %}
  <header id='main-header'>
    <h2>{{ tab.name }}</h2>

    {% if request.user.is_authenticated and request.user == tab.user %}
    <nav>
      <span><a href="{% url 'tabs:edit' tab_id=tab.pk %}">Edit</a></span>
    </nav>
    {% endif %}
  </header>

  <section class='mapping'>
    <label for='instrument-link'>Instrument:</label>
    <a id='instrument-link' href="{% url 'tabs:instrument' instrument=tab.instrument %}">
      {{ tab.get_instrument_display }}
    </a>

    <label for='artist-link'>Artist:</label>
    {% if tab.artist %}
    <a id='artist-link' href="{% url 'tabs:artist_detail' artist_id=tab.artist.pk %}">
      {{ tab.artist.name }}
    </a>
    {% else %}
    <span id='artist-link'>(none)</span>
    {% endif %}

    <label for='user-link'>Added by:</label>
    <a id='user-link' href="{% url 'users:profile' user_id=tab.user.pk %}">
      {{ tab.user.username }}
    </a>
  </section>

  <section class='rendered-tab'>{% include 'tabs/tab.html' with tab=tab.get_rendered_tab %}</section>
{% endblock %}
