{% for row in tab.rows %}
<section class='row'>
  {% if row.rhythm %}
  <section class='rhythm line'>
    {% for note in row.rhythm %}
    <section class='note'>{{ note.prespace }}{{ note.note }}{% if note.dotted %}.{% endif %}</section>
    {% endfor %}
  </section>
  {% endif %}
  {% for tabulature in row.tabulature %}
  <section class='tabulature line'>{{ tabulature }}</section>
  {% endfor %}
  {% if row.chords %}
  <section class='chords line'>{{ row.chords }}</section>
  {% endif %}
  {% for lyric in row.lyrics %}
  <section class='lyrics line'>{{ lyric }}</section>
  {% endfor %}
</section>
{% endfor %}
