{% load static %}

{% for row in tab.rows %}
<section class='row'>
  {% if row.rhythm %}
  <section class='rhythm line'>
    {% for note in row.rhythm %}
    <section class='prespace'>{{ note.prespace }}</section>
    <section class='note'>
      {% if note.note == 'W' %}
      <img src="{% static 'notes/whole.gif' %}" />
      {% elif note.note == 'H' %}
      <img src="{% static 'notes/half.gif' %}" />
      {% elif note.note == 'Q' %}
      <img src="{% static 'notes/quarter.gif' %}" />
      {% elif note.note == 'E' %}
      <img src="{% static 'notes/eighth.gif' %}" />
      {% elif note.note == 'S' %}
      <img src="{% static 'notes/sixteenth.gif' %}" />
      {% else %}
      {% endif %}
    </section>
    <section class='dotting'>{% if note.dotted %}.{% endif %}</section>
    {% endfor %}
  </section>
  {% endif %}
  {% for string in row.tabulature.strings %}
  <section class='tabulature line'>
    <section class='tuning'>{{ string.tuning }}</section>
    <section class='bar'>|</section>
    <svg height="16" width="{{ string.length }}" viewBox='0 0 {{ string.length }} 16'>
      <line x1='0' x2='{{ string.length }}' y1='10' y2='10' style='stroke:rgb(0,0,0); stroke-width: 1;' />
      {% for note in string.notes %}
      <rect width='{{ note.width }}' height='16' x='{{ note.offset }}' y='0' style='fill:white; stroke-width:0;' />
      <text x='{{ note.offset }}' y='14' font-family='Roboto Mono' font-size='10pt' text-anchor='start'>{{ note.fret }}</text>
      {% endfor %}
    </svg>
  </section>
  {% endfor %}
  {% if row.chords %}
  <section class='chords line'>{{ row.chords }}</section>
  {% endif %}
  {% for lyric in row.lyrics %}
  <section class='lyrics line'>{{ lyric }}</section>
  {% endfor %}
</section>
{% endfor %}
