{% load static %}

{% for row in tab.rows %}
<section class='row'>
  {% if row.rhythm %}
  <section class='rhythm line'>
    {% for note in row.rhythm %}
    <section class='prespace'>{{ note.prespace }}</section>
    <section class='note'>
      {% if note.note == 'W' %}
      <img src="{% static 'notes/whole.gif' %}" />
      {% elif note.note == 'H' %}
      <img src="{% static 'notes/half.gif' %}" />
      {% elif note.note == 'Q' %}
      <img src="{% static 'notes/quarter.gif' %}" />
      {% elif note.note == 'E' %}
      <img src="{% static 'notes/eighth.gif' %}" />
      {% elif note.note == 'S' %}
      <img src="{% static 'notes/sixteenth.gif' %}" />
      {% else %}
      {% endif %}
    </section>
    <section class='dotting'>{% if note.dotted %}.{% endif %}</section>
    {% endfor %}
  </section>
  {% endif %}
  {% for tabulature in row.tabulature %}
  <section class='tabulature line'>{{ tabulature }}</section>
  {% endfor %}
  {% if row.chords %}
  <section class='chords line'>{{ row.chords }}</section>
  {% endif %}
  {% for lyric in row.lyrics %}
  <section class='lyrics line'>{{ lyric }}</section>
  {% endfor %}
</section>
{% endfor %}
