<nav>
  {% for choice, human_readable_choice in instrument_choices %}
  <span>
    {% if choice == instrument %}
    {{ human_readable_choice }}
    {% else %}
    <a href="{% url 'tabs:instrument' instrument=choice %}">{{ human_readable_choice }}</a>
    {% endif %}
  </span>
  {% endfor %}
</nav>

{% if tabs.all %}
<ul>
  {% for tab in tabs %}
  <li><a href="{% url 'tabs:detail' tab.pk %}">{{ tab.name }}</a></li>
  {% endfor %}
</ul>
{% else %}
<p>There are no tabs to display.</p>
{% endif %}
