html {
  font-family: 'Roboto Mono', monospace;
}

body {
  margin: 0 1vw;
}

header#site-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-width: 0 0 1px 0;
  border-style: solid;
  border-color: black;
  padding: 0 1vw;
  margin: 0 0 2vw 0;
}

header#site-header h1 a {
  color: black;
  text-decoration: none;
}
header#site-header h1 a:visited {
  color: black;
}

nav span:not(:last-child)::after {
  content: '  /  ';
}

form {
  display: flex;
  flex-direction: column;
}

form label {
  margin: 1vh 0 0 0;
}

input[type=text] {
  width: 30em;
}

select {
  padding: 0;
  width: 30.65em;
}

input[type=submit] {
  margin: 1vw 0 0 0;
  width: 8em;
}
