{% load static %}

<!doctype html>

<html lang='en'>
  <head>
    <meta charset='utf-8'/>
    <title>{% block title %}{% endblock %}</title>

    <link href="https://fonts.googleapis.com/css?family=Roboto+Mono:400,400i,500,500i,700,700i" rel="stylesheet" />
    <link rel='stylesheet' type='text/css' href="{% static 'tabs/style.css' %}" />
  </head>

  <body>
    <header id='site-header'>
      <h1>
        {% if page == 'home' %}
        guitab
        {% else %}
        <a href="{% url 'index' %}">guitab</a>
        {% endif %}
      </h1>
      <nav>
        <span>
          {% if page == 'home' %}
          Home
          {% else %}
          <a href="{% url 'index' %}">Home</a>
          {% endif %}
        </span>

        <span>
          {% if page == 'tab_index' %}
          Tabs
          {% else %}
          <a href="{% url 'tabs:index' %}">Tabs</a>
          {% endif %}
        </span>

        <span>
          {% if page == 'artist_index' %}
          Artists
          {% else %}
          <a href="{% url 'tabs:artist_index' %}">Artists</a>
          {% endif %}
        </span>

        {% if request.user.is_authenticated %}
        <span>Welcome, <a href="{% url 'users:profile' user_id=request.user.pk %}">{{ request.user.username }}</a></span>
        <span><a href="{% url 'logout' %}">Log out</a></span>
        {% else %}
        <span><a href="{% url 'register' %}">Register</a></span>
        <span><a href="{% url 'login' %}">Log in</a></span>
        {% endif %}
      </nav>
    </header>

    <main>
    {% block body %}{% endblock %}
    </main>

    <footer id='site-footer'>
      <span>&copy; {% now 'Y' %} David Kerkeslager</span>

      <nav>
        <span>
          {% if page == 'contact' %}
          Contact
          {% else %}
          <a href="{% url 'contact:contact' %}">Contact</a>
          {% endif %}
        </span>
    </footer>
  </body>
</html>
