{% load static %}

<!doctype html>

<html lang='en'>
  <head>
    <meta charset='utf-8'/>
    <title>{% block title %}{% endblock %}</title>

    <link href="https://fonts.googleapis.com/css?family=Roboto+Mono:400,400i,500,500i,700,700i" rel="stylesheet" />
    <link rel='stylesheet' type='text/css' href="{% static 'tabs/style.css' %}" />
  </head>

  <body>
    <div id='page-header'>
      <ul>
        <li><a href="{% url 'tabs:index' %}">Tabs</a></li>
        <li><a href="{% url 'tabs:artist_index' %}">Artists</a></li>
        {% if request.user.is_authenticated %}
        <li>Welcome, <a href="{% url 'users:profile' user_id=request.user.pk %}">{{ request.user.username }}</a></li>
        <li><a href="{% url 'logout' %}">Log out</a></li>
        {% else %}
        <li><a href="{% url 'register' %}">Register</a></li>
        <li><a href="{% url 'login' %}">Log in</a></li>
        {% endif %}
      </ul>
    </div>

    {% block body %}{% endblock %}
  </body>
</html>
